/* 基本的な構成ですね */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@330&family=Zen+Kaku+Gothic+New&display=swap');

@font-face {
    font-family: "unifont";
    src: url("unifont-15.0.06.ttf") format("truetype");
}


* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-y: scroll;
    background: #eaeaea;
}

body {
    max-width: 1500px;
    margin: 0 auto;
    /* 基本的な文字の扱い */
    line-height: 1.8;
    font-family: "Zen Kaku Gothic New", "Noto Sans SC", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

::selection {
    color: #FFF;
    background: #000;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* 全体に対する設定ですね */

/* 段落の話 */

.おおきな分類 {
    padding-bottom: 50px;
}

.ちゅうくらいの分類 {
    padding-bottom: 20px;
}

.小さな分類 {
    padding: 10px 20px;
}

.横に狭い分類 {
    max-width: 1000px;
    margin: 0 auto;
}

/* 文字の話 */

a[href]:has(img) {
    text-decoration: none;
    background: transparent;
    padding: 0;
}

a[href] {
    background: radial-gradient(ellipse closest-side, #0000EE, transparent);
    border-radius: 50%;
    color: #FFF;
    padding: 5px 20px;
}

a[href]:active {
    background: radial-gradient(ellipse closest-side, #fe0000, transparent);
}

a[href]:visited {
    background: radial-gradient(ellipse closest-side, #551b8c, transparent);
}

/* 文字装飾の話 */

.コメント文字 {
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.7em;
}

.小さい文字 {
    line-height: 1.5rem;
    font-size: 0.7em;
}

.中央に揃う文字 {
    text-align: center;
}

.太い文字 {
    font-weight: bold;
    letter-spacing: 4px;
}

/* ここからは直下のページそれぞれについてです */

/* ヘッダーの話 */

#ヘッダー {
    margin: 40px auto;
    margin-bottom: 0;
}

.ヘッダーのアイコン {
    font-family: 'Unifont';
    width: fit-content;
    font-size: larger;
    line-height: 1.0em;
    letter-spacing: -0.1em;
}

.ヘッダーのアイコン a[href] {
    background: transparent;
    text-decoration: none;
    color: #000;
}

.ヘッダーのリンクたち {
    padding: 30px 0;
    font-size: 1.5em;

    a {
        margin: 0 10px;
    }
}

/* worksの話 */

.作品の一覧 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.作品 {
    margin: 50px 20px;
}

.作品のサムネイル:has(a):hover img {
    clip-path: polygon(20% 0, 80% 50%, 20% 100%);
}

/* ここだけp5の方のworksの話 */
.作品のサムネイル.p5:has(a) img {
    aspect-ratio: 1;
    object-fit: cover;
}

.作品のサムネイル.p5:has(a):hover img {
    clip-path: circle(50%);
}

.作品の名前 h3 {
    line-height: 1.2em;
    font-weight: normal;
}

.cover {
    margin: 0 10px;
    font-size: 0.7em;
    background: radial-gradient(ellipse closest-side, #000, transparent);
    border-radius: 50%;
    background-clip: text;
    color: transparent;
}

.作品のタグ {
    line-height: 1.5rem;
    font-size: 0.7em;
    text-align: right;
}

.作品の説明 {
    font-size: 0.8em;
}

/* aboutの話 */

/* リストの編集についてです */

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

td a[href] {
    background: transparent;
    padding: 0;
    text-decoration: none;
    color: #000;
}

th {
    cursor: pointer;
}

.credit-tag {
    display: inline-block;
    border-radius: 10px;
    padding: 2px 6px;
    margin: 2px 4px 2px 0;
    background: #f9f9f9;

    font-size: 0.9em;
}

#search {
    padding: 6px;
    width: 300px;
    border-radius: 10px;
    background: #f9f9f9;
    border: unset;

    font-size: 16px;
    font-family: inherit;
    margin-bottom: 10px;
}

/* スマホ用 */

@media screen and (max-width:900px) {
    body {
        width: 95%;
        padding: 5px;
        margin: 0 auto;
        font-size: 0.8em;
    }

    .ヘッダーのリンクたち {
        padding: 30px 0;
        font-size: 1.3em;

        a {
            margin: 0;
        }
    }

    .作品の一覧 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .作品 {
        margin: 20px 0;
    }

    table {
        width: 100%;
    }
}